@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  height: 100vh;
}

header {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: lime;
}

header,
main {
  padding: 1rem;
}

.container {
  width: 800px;
  height: 95%;
  box-shadow: 0 3px 4px;
  margin: 0 auto;
}

.not-sent {
  font-style: italic;
  text-align: center;
  color: red;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95vw;
  }
}